{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/basketballapp/{{ player.id }}/edit?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Player Stats</legend>
            <label class="form-label">FG%: </label>
            <input 
                type="number" 
                name="fg%" 
                value="{{ player.data[0].fg_pct }}"
                class="form-control"
            >
            <label class="form-label">3P%: </label>
            <input 
                type="number" 
                name="3p%" 
                value="{{ player.data[0].fg3_pct }}" 
                class="form-control"
            >
            <label class="form-label">FT%: </label>
            <input 
                type="number" 
                name="ft%"
                value="{{ player.data[0].ft_pct }}"
                class="form-control"
            >
            <label class="form-label">REB: </label>
            <input 
                type="number" 
                name="reb"
                value="{{ player.data[0].reb }}"
                class="form-control"
            >
            <label class="form-label">OREB: </label>
            <input 
                type="number" 
                name="oreb"
                value="{{ player.data[0].oreb }}"
                class="form-control"
            >
            <label class="form-label">DREB: </label>
            <input 
                type="number" 
                name="dreb"
                value="{{ player.data[0].dreb }}"
                class="form-control"
            >
            <label class="form-label">AST: </label>
            <input 
                type="number" 
                name="ast"
                value="{{ player.data[0].ast }}"
                class="form-control"
            >
            <label class="form-label">BLK: </label>
            <input 
                type="number" 
                name="blk"
                value="{{ player.data[0].blk }}"
                class="form-control"
            >
            <label class="form-label">STL: </label>
            <input 
                type="number" 
                name="stl"
                value="{{ player.data[0].stl }}"
                class="form-control"
            >
            <label class="form-label">PF: </label>
            <input 
                type="number" 
                name="pf"
                value="{{ player.data[0].pf }}"
                class="form-control"
            >
            <label class="form-label">TO: </label>
            <input 
                type="number" 
                name="to"
                value="{{ player.data[0].turnover }}"
                class="form-control"
            >
            <label class="form-label">PTS: </label>
            <input 
                type="number" 
                name="pts"
                value="{{ player.data[0].pts }}"
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Edit Player Stats" class="btn btn-success">
    </form>
</div>
{% endblock %}