{% layout 'layout.liquid'%}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ playerName.first }} {{ playerName.last }}
        </h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Stats</th>
                <th scope="col">FG%</th>
                <th scope="col">3P%</th>
                <th scope="col">FT%</th>
                <th scope="col">REB</th>
                <th scope="col">OREB</th>
                <th scope="col">DREB</th>
                <th scope="col">AST</th>
                <th scope="col">BLK</th>
                <th scope="col">STL</th>
                <th scope="col">PF</th>
                <th scope="col">TO</th>
                <th scope="col">PTS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Regular Season</th>
                <td>{{ player.data[0].fg_pct }}</td>
                <td>{{ player.data[0].fg3_pct }}</td>
                <td>{{ player.data[0].ft_pct }}</td>
                <td>{{ player.data[0].reb }}</td>
                <td>{{ player.data[0].oreb }}</td>
                <td>{{ player.data[0].dreb }}</td>
                <td>{{ player.data[0].ast }}</td>
                <td>{{ player.data[0].blk }}</td>
                <td>{{ player.data[0].stl }}</td>
                <td>{{ player.data[0].pf }}</td>
                <td>{{ player.data[0].turnover }}</td>
                <td>{{ player.data[0].pts }}</td>
              </tr>
            </tbody>
        </table>
        {% if player.owner == userId %}
        <div class="btn-group">
            <a href="/basketballapp/{{ player.first_name }}/{{ player.last_name }}/edit" class="btn btn-primary">Edit</a>
            <form action="/basketball/{{ player.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        <div class="col-md-6">
            <form action="/comment/{{player.id}}" method="POST">
                <fieldset>
                    <legend>Add Comment</legend>
                    <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" name="title" placeholder="Title">
                    <input type="textarea" class="form-control" name="body" placeholder="enter comment here...">
                </fieldset>
            <input type="submit" class="btn btn-success" value="Add Comment">
            </form>
        </div>
        {% endif %}
        {% for comment in player.comments %}
            <h6>{{ comment.author.username }}</h6>
            <h6>{{ comment.title }}</h6>
            <p>{{ comment.body }}</p>
        {% endfor %}
    </article>
</div>
{% endblock %}