{% layout 'layout.liquid'%}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ superhero.name }}
        </h2>
        <img src="{{ superhero.images }}"/>
        <h3>Powerstats</h3>
             <ul class="ul">
               <li>Intelligence: {{ superhero.powerstats.intelligence }}</li> 
               <li>Strength: {{ superhero.powerstats.strength}}</li>
               <li>Speed: {{ superhero.powerstats.speed }}</li>
               <li>Durability: {{ superhero.powerstats.durability }}</li>
               <li>Power: {{ superhero.powerstats.power }}</li>
               <li>Combat: {{ superhero.powerstats.combat }}</li>
             </ul>
        <h3>Appearance</h3>
            <ul class="ul">
                <li>Gender: {{ superhero.appearance.gender }}</li>
                <li>Race: {{ superhero.appearance.race }}</li>
                <li>Height: {{ superhero.appearance.height }}</li>
                <li>Weight: {{ superhero.appearance.weight }}</li>
                <li>Eye Color: {{ superhero.appearance.eyeColor }}</li>
                <li>Hair Color: {{ superhero.appearance.hairColor }}</li>
            </ul>
        <h3>Biography</h3>
            <ul class="ul">
                <li>Full Name: {{ superhero.biography.fullName }}</li>
                <li>Alter Egos: {{ superhero.biography.alterEgos }}</li>
                <li>Aliases: {{ superhero.biography.aliases }}</li>
                <li>Place of birth: {{ superhero.biography.placeOfBirth }}</li>
                <li>First Appearance: {{ superhero.biography.firstAppearance }}</li>
                <li>Publisher: {{ superhero.biography.publisher }}</li>
                <li>Alignment: {{ superhero.biography.alignment }}</li>
            </ul>
        <h3>Connections</h3>
            <p>{{ superhero.connections.groupAffiliation }}</p>
        {% if superhero.owner == userId %}
        <div class="btn-group">
            <a href="/superheroapp/{{ superhero._id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/superheroapp/{{ superhero._id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        <div class="col-md-6">
            <form action="/comment/{{superhero._id}}" method="POST">
                <fieldset>
                    <legend>Add Comment</legend>
                    <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" name="title" placeholder="Title">
                    <input type="textarea" class="form-control" name="body" placeholder="enter comment here...">
                </fieldset>
            <input type="submit" class="btn btn-success" value="Add Comment">
            </form>
        </div>
        {% endif %}
        {% for comment in superhero.comments %}
            <h6>{{ comment.author.username }}</h6>
            <h6>{{ comment.title }}</h6>
            <p>{{ comment.body }}</p>
        {% endfor %}
    </article>
</div>
{% endblock %}