{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Basketball Players</h2>
    <div class="row">
        {% for player in players %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ player.first_name }} {{ player.last_name }}</h5>
            <div class="card-body">
                <p class="card-text">
                    Team: {{ player.team.full_name }}
                    
                    Conference: {{ player.team.conference }}
                </p>
                <a href="/basketball/{{ player.id }}" class="btn btn-info">
                    View {{ player.first_name }} {{ player.last_name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}