{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ superhero.name }}
        </h2>
        <img src="{{ superhero.images.md }}"/>
        <h3>Powerstats</h3>
             <ul class="ul">
               <li>Intelligence: {{ superhero.powerstats.intelligence }}</li> 
               <li>Strength: {{ superhero.powerstats.strength}}</li>
               <li>Speed: {{ superhero.powerstats.speed }}</li>
               <li>Durability: {{ superhero.powerstats.durability }}</li>
               <li>Power: {{ superhero.powerstats.power }}</li>
               <li>Combat: {{ superhero.powerstats.combat }}</li>
             </ul>
        <h3>Appearance</h3>
            <ul class="ul">
                <li>Gender: {{ superhero.appearance.gender }}</li>
                <li>Race: {{ superhero.appearance.race }}</li>
                <li>Height: {{ superhero.appearance.height[0] }}</li>
                <li>Weight: {{ superhero.appearance.weight[0] }}</li>
                <li>Eye Color: {{ superhero.appearance.eyeColor }}</li>
                <li>Hair Color: {{ superhero.appearance.hairColor }}</li>
            </ul>
        <h3>Biography</h3>
            <ul class="ul">
                <li>Full Name: {{ superhero.biography.fullName }}</li>
                <li>Alter Egos: {{ superhero.biography.alterEgos }}</li>
                <li>Aliases: {{ superhero.biography.aliases }}</li>
                <li>Place of birth: {{ superhero.biography.placeOfBirth }}</li>
                <li>First Appearance: {{ superhero.biography.firstAppearance }}</li>
                <li>Publisher: {{ superhero.biography.publisher }}</li>
                <li>Alignment: {{ superhero.biography.alignment }}</li>
            </ul>
        <h3>Connections</h3>
            <p>{{ superhero.connections.groupAffiliation }}</p>
        {% if superhero.owner == userId %}
        <div class="btn-group">

            
            <form action="/superheroapp/favorite/{{ superhero.id }}" method="POST">
                <input type="hidden" name="images" value="{{ superhero.images.md }}">
                <input type="hidden" name="name" value="{{ superhero.name }}">
                <input type="hidden" name="gender" value="{{ superhero.appearance.gender }}">
                <input type="hidden" name="race" value="{{ superhero.appearance.race }}">
                <input type="hidden" name="height" value="{{ superhero.appearance.height[0] }}">
                <input type="hidden" name="weight" value="{{ superhero.appearance.weight[0] }}">
                <input type="hidden" name="eyeColor" value="{{ superhero.appearance.eyeColor }}">
                <input type="hidden" name="hairColor" value="{{ superhero.appearance.hairColor }}">
                <input type="hidden" name="intelligence" value="{{ superhero.powerstats.intelligence }}">
                <input type="hidden" name="strength" value="{{ superhero.powerstats.strength }}">
                <input type="hidden" name="speed" value="{{ superhero.powerstats.speed }}">
                <input type="hidden" name="durability" value="{{ superhero.powerstats.durability }}">
                <input type="hidden" name="power" value="{{ superhero.powerstats.power }}">
                <input type="hidden" name="combat" value="{{ superhero.powerstats.combat }}">
                <input type="hidden" name="fullName" value="{{ superhero.biography.fullName }}">
                <input type="hidden" name="alterEgos" value="{{ superhero.biography.alterEgos }}">
                <input type="hidden" name="aliases" value="{{ superhero.biography.aliases }}">
                <input type="hidden" name="placeOfBirth" value="{{ superhero.biography.placeOfBirth }}">
                <input type="hidden" name="firstAppearance" value="{{ superhero.biography.firstAppearance }}">
                <input type="hidden" name="publisher" value="{{ superhero.biography.publisher }}">
                <input type="hidden" name="alignment" value="{{ superhero.biography.alignment }}">
                <input type="hidden" name="groupAffiliation" value="{{ superhero.connections.groupAffiliation }}">
                <input type="submit" value="Favorite" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}